# git ignore for latex temporary files

*.aux
*.bbl
*.blg
*.log
*.out
*.fdb_latexmk
*.fls
*.synctex.gz

# ignore human data files
data/human_results/*

# ignore venv
nlg-prompt/*
llava-env/*
nlg-new/*

utils.egg-info